@import "variables.less";

input.ng-valid-unique-source
{
	border: solid 1px #51A351 !important;
}

input.ng-invalid-unique-source
{
	border: solid 1px #BD362F !important;
}

.form-control
{
	&.title
	{
		font-size: 20px;	
		padding: 20px;
	}

	textarea&
	{
		font-family: Times, Times New Roman, Serif;
		line-height: 1.55;
		font-size: 20px;
		padding: 20px;
		height: auto;
	}	
}
