@import "variables.less";

@loginButtonColor: lighten(#d2322d, 10%);
/* #d9534f */
@loginButtonColorHover: #d43f3a; 
/* #d43f3a */

.login-form
{
	text-align: center;
	
	display: inline-block;
	padding: 1.3em;
	width: 25em;

	border: solid 1px #DDD;
	border-radius: 5px;

	-webkit-transition: background-color 0.7s ease;
	-moz-transition: background-color 0.7s ease;
	-ms-transition: background-color 0.7s ease;
	-o-transition: background-color 0.7s ease;
	transition: background-color 0.7s ease;

	.inner-form
	{
		-webkit-transition: all 0.7s ease;
		-moz-transition: all 0.7s ease;
		-ms-transition: all 0.7s ease;
		-o-transition: all 0.7s ease;
		transition: all 0.7s ease;

		/*background-color: #FFF;*/
	}

	&.flash
	{
		background-color: #FFEBAD;
		border: solid 1px darken(#FFEBAD, 5%);
	}

	input
	{
		box-shadow: inset 0px 1px 7px -4px;
	}

	input[type=password] 
	{
		margin-top: 4px;
		float: left;
		width: 71%;
	}

	input[type=submit]
	{
		margin-top: 4px;
		float: right;
		width: 28%; /* 2px / 320px */
	}

	input[type=submit]:after 
	{
		content: ' ';
		display: table;
		clear: both;
	}

	.busy
	{
		background-color: #EEE;
	}

	.btn-login
	{
		background-color: @loginButtonColor;
		border: solid 1px darken(@loginButtonColor, 1%);
		color: #FFF;
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-ms-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		transition: all 0.2s ease;
	}

	.btn-login:hover
	{
		background-color: darken(@loginButtonColor, 5%);
		border: solid 1px darken(@loginButtonColor, 1%);
		color: #FFF;
	}

	.user-info
	{
		padding-top: 6px;
		text-align: left;
		float: left;
		width: 50%;
	}

	.user-info > p:before
	{
		content: "Username: ";
		font-weight: bolder;
	}

	/* Fixes: Placing the login form in different places may change the font */
	.user-info > p
	{
		font-family: 'Arial', 'Helvetica' !important;
		font-size: 14px;
	}

	.btn-logout
	{
		background-color: #5cb85c;
		border: solid 1px #4cae4c;
		color: #FFF;

		float: left;
		width: 49.00625%;

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	
	.btn-logout:hover
	{	
		color: #FFF;
		background-color: darken(#5cb85c, 5%);
	}
}