.blog-list-item h3
{
	font-family: Times New Roman;
}

.blog-title
{
	font-family: Times New Roman;
	margin-bottom: 1em;
}

.post-list-item
{

}

.post-list-item h3
{
	font-family: 'Times New Roman';
}

.post-list-item .brief
{
	font-family: 'Open Sans' !important;
}

.breadcrumb
{
	font-family: Raleway;
}

.post-title
{
	font-family: Times New Roman;
	/*font-size: 32px;*/
	margin: 0px;
	line-height: 1.5;
}

.post-author
{
	margin: 0px 0px 1em 0px;
	color: #AAA;
}

.post-body span
{
	/*font-size: 16px;*/
	font-size: 17px;
	line-height: 1.48;
	font-family: Open Sans;

	/*font-weight: lighter;*/
	/*color: #808080;*/
	color: #707070;
	line-height: 1.56;
}

.is-hovering
{
	background-color: #DFDFDF !important; /* DEDEDE */
	padding: 2px 0px 2px 0px;
	border-radius: 3px;
	/*background: -webkit-linear-gradient(right, #EEE, #DDD); /* For Safari */
	/*background: -o-linear-gradient(right, #EEE, #DDD); /* For Opera 11.1 to 12.0 */
	/*background: -moz-linear-gradient(right, #EEE, #DDD); /* For Firefox 3.6 to 15 */
	/*background: linear-gradient(right, #EEE, #DDD); /* Standard syntax */
}

.sentence .selected
{
	background-color: #DDD;
}

.post-list-view
{
/*	background-color: #FFF7F3;
	border-radius: 6px;
	border: solid 1px #FFF7F3;
	padding: 1.6em;
	line-height: 1.48;*/

	/*width: 38%;*/
	/*-webkit-box-shadow: 0px 0px 3px -1px;
	-moz-box-shadow: 0px 0px 3px -1px;
	box-shadow: 0px 0px 3px -1px;*/
	-webkit-transition: left 0.7s ease 0.001s;
	-moz-transition: left 0.7s ease 0.001s;
	-ms-transition: left 0.7s ease 0.001s;
	-o-transition: left 0.7s ease 0.001s;
	transition: left 0.7s ease 0.001s;
}


.sliding-panel
{
	position: absolute;
	left: 0%;
	width: 80%;
	border: solid 1px #DDD;
	border-radius: 5px;
	padding: 1.4em;
	background-color: #EFEFEF;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-ms-transition: all 0.7s;
	-o-transition: all 0.7s;
	transition: all 0.7s;
}

.slide-left
{
	left: -50%;
}

.slide-right
{
	background-color: #FFF;
	border: none;
	left: 50%;
}

.left-panel
{
	/*position: absolute;*/
	float: left;
	top: 0px;
	left: 0em;
	/*width: 49%;*/
	/*border: solid 1px #DDD;*/
	border-radius: 5px;

	/*padding: 1.4em 1em 1em 0.6em;*/
	padding: 1.4em 1em 1em 1.4em;

	/*background-color: #EFEFEF;*/
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-ms-transition: all 0.7s;
	-o-transition: all 0.7s;
	transition: all 0.7s;
}


.left-panel-slide-left 
{
	left: -7%;	
	top: -10%;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	-ms-transform: scale(0.6);
	-o-transform: scale(0.6);
	transform: scale(0.6);
}

.right-panel
{
	/*-webkit-box-shadow: 0px 0px 20px 2px #AAA;
	-moz-box-shadow: 0px 0px 20px 2px #AAA;
	box-shadow: 0px 0px 20px 2px #AAA;*/
	position: absolute;
	left: 43%;
	width: 33%;
	border: solid 1px #EFEFEF;
	border-radius: 5px;
	padding: 1.4em;
	background-color: #EFEFEF;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-ms-transition: all 0.7s;
	-o-transition: all 0.7s;
	transition: all 0.7s;
}

.right-panel-slide-left
{
	box-shadow: none;
	left: 0%;
	/*background-color: #FFF;
	border: none;*/
	width: 37%;
}

.comment
{
	padding: 0.4em;
	/*margin: 1.4em;*/
	/*background-color: #FFF7F3;*/
	/*background-color: #ccedf9;*/
	border-radius: 5px;
	/*background-color: #a3f6fb;*/

	/*background-color: #DBF2FF;
	background-color: #fff2ea;
	*/
}

.comment-title
{
	font-family: Average Sans;
	
}

.comment-author
{
	color: #777;
	margin-bottom: 0.8em;
}

.comment-body
{
	font-family: Josefin Sans;
	font-size: 16px;
}

.comment .is-hovering
{
	background-color: #DDD !important; /* DEDEDE */
	/*padding: 0px 0px 1px 0px;*/
	padding: 0px !important;
	border-radius: 3px;	
}

.sidebar
{
	 margin-left: 3em; 
	 padding-left: 2.3em; 
	 border-left: solid 1px #CCC;
}

.post-comments
{
	margin-top: 3em;
	padding-top: 1em;
	border-top: solid 1px #CCC;
}