<div ng-controller="PostCtrl" class="row">

	<div ng-repeat="panel in sidebars" ng-class="{'col-xs-7': $index === currentPointer, 'current-panel': $index === currentPointer, 'col-xs-5': $index == currentPointer + 1}" ng-hide="($index < currentPointer) || ($index > currentPointer + 1)">
		
		<div ng-if="$index === currentPointer">
			<article class="post" ng-repeat="comment in panel.results">
				<header>
					<hgroup>
						<div>
							<h1>{{comment.title}}</h1> 
						</div>
						<h4 class="author">{{comment.author}} on [{{comment.parent_content_type}} / {{comment.parent_id}}]</h4>
					</hgroup>
					<button style="vertical-align: middle" class="btn btn-info">Revise Post</button>
				</header>

				<p ng-repeat="para in comment.content.paragraphs">
					<span ng-repeat="sen in para.sentences" class="sentence" ng-class="{'sentence-selected': sen.id == currentlySelectedSentenceId}" ng-mouseover="updateSidebar(sen.id, $parent.$parent.$index)" ng-mouseout="cancelTimers()">
						{{sen.text}}
						<span class="badge" ng-if="sen.number_replies > 0">{{sen.number_replies}}</span>
					</span>
				</p>

			</article>
		</div>
		
		<!-- If this panel's index is on the right side... -->
		<div ng-if="$index == currentPointer + 1" style="position: relative;">
			
			<!-- Loading message -->
			<div ng-if="loading" style="position: absolute; width: 100%; height: 100%; background: #FFF; opacity: 0.5; text-align: center;">
				<h2 style="font-family: 'Open Sans'">Loading...</h2>
			</div>

			<!-- Quote -->
			<header class="sidebar-quote" ng-if="currentlySelectedSentenceObj !== null">
				<section>
				
					<blockquote>
						{{currentlySelectedSentenceObj.text}}
					</blockquote>
					<div style="text-align: center;">
						<button class="btn btn-primary" ng-click="createComment()">Leave a Comment</button>
					</div>
				
				</section>
			</header>

			<!-- Reply -->
			<article class="reply" ng-repeat="comment in panel.results">
				<header>
					<hgroup>
						<div>
							<h2 style="margin-right: 1.4em; vertical-align: middle; display: inline;">{{comment.title}}</h2> 
							<button style="vertical-align: middle" class="btn btn-info">Go to Post &gt;&gt;</button>
						</div>
						<h4 class="author">{{comment.author}} on [{{comment.parent_content_type}} / {{comment.parent_id}}]</h4>
					</hgroup>
					<div class="well well-sm">
						<blockquote>
							{{currentlySelectedSentenceObj.text}}
						</blockquote>
					</div>
				</header>

				<p ng-repeat="para in comment.content.paragraphs">
					<span ng-repeat="sen in para.sentences"  class="sentence">
						{{sen.text}}
					</span>
				</p>

			</article>

			<!-- No posts message -->
			<article class="reply zero-posts" ng-if="panel.results.length < 1">
				<div>
					There are no posts for this sentence.
				</div>
			</article>
		</div>

		<!-- For comments on the main post. Should be shown under same panel -->
		<div ng-if="$index === currentPointer">
			<article class="reply" ng-repeat="comment in mainComments.results">
				<header>
					<hgroup>
						<div>
							<h1 style="margin-right: 1.4em; vertical-align: middle; display: inline;">{{comment.title}}</h1> 
							<button style="vertical-align: middle" class="btn btn-info">Revise Post</button>
						</div>
						<h4 class="author">{{comment.author}} on [{{comment.parent_content_type}} / {{comment.parent_id}}]</h4>
					</hgroup>
				</header>

				<p ng-repeat="para in comment.content.paragraphs">
					<span ng-repeat="sen in para.sentences"  class="sentence">
						{{sen.text}}
					</span>
				</p>

			</article>
			<article class="reply" ng-if="mainComments.results.length < 1">
				There are no comments for this Post. Perhaps there are comments on the sentences instead?
			</article>
		</div>
	</div>
</div>