<div ng-controller="RevisionsCtrl">
    <h1>Revisions</h1>

    <div ng-hide="isLoading">
		<div class="well well-sm">
        	<h2><a ui-sref="post({postId: post.id})">{{post.title}}</a></h2>
        	<address>By {{post.author}} on:<br/>
                <a reference-model parent-content-type="{{post.parent_content_type}}" parent-id="{{post.parent_id}}">{{post.parent_repr}}</a>
            </address>
		</div>
        <h3>Revisions:</h3>
        <div class="list-group">
            <a class="list-group-item" 
			   ng-repeat="edition in editions" 
			   ng-class="{'active': edition.id == selectedEdition}" 
			   ui-sref="revisions.editions({'editionId': {{edition.id}} })">
               	{{edition.created | momentverbose }} ({{edition.created | moment}}) 
                <span ng-if="$last">&lt; Original Version</span>
            </a>
        </div>
    </div>

    <div ui-view></div>
</div>