<div ng-controller="RevisionsEditionsCtrl">	
    <header>
        <h4>Edition Changes</h4>
        <p>
            <ul>
                <li><span class="text text-warning">Red = Deleted</span></li>
                <li><span class="text text-primary">Blue = Modified</span></li>
                <li><span class="text text-success">Green = Added</span></li>    
                <li><span class="text text-info">Random = Just for your viewing pleasure</span></li>
            </ul>
        </p>
    </header>

	<div class="row">
		
		<div ng-if="!previousEdition" class="col-xs-6">
			<h2>Original Version -></h2>
		</div>
		<div class="col-xs-6" ng-show="previousEdition">
			<hgroup>
				<h3><span class="soft">Older</span> <small>{{previousEdition.created | momentverbose}}</small></h3> 
			</hgroup>
<!--
            'sentence-added': !sentence.previous_version, 
             ng-class="{'sentence-added': !sentence.previous_version}"
-->
			<article class="post">
				<p ng-repeat="paragraph in previousEdition.paragraphs">
					<span 
						  style="background: hsl({{sentence.color}}, {{sentence.saturation}}, {{sentence.lightness}});" 
						  ng-repeat="sentence in paragraph.sentences" class="sentence" 
                          
						  ng-class="{'sentence-selected': sentence.id == selectedSentence.previous_version}">
                        <!--[ {{sentence.id}} ]--> {{sentence.text}} 
					</span>
				</p>
			</article>
		</div>
		<div class="col-xs-6">
			<hgroup>
				<h3><span class="soft" ng-if="previousEdition">Newer</span> <small>{{edition.created | momentverbose}}</small></h3>
			</hgroup>
			<article class="post">
				<p ng-repeat="paragraph in edition.paragraphs">
                    
					<span 
						  style="background: hsl({{sentence.color}}, {{sentence.saturation}}, {{sentence.lightness}});" 
						  ng-repeat="sentence in paragraph.sentences" class="sentence" 
 
						  ng-mouseover="highlightSentence(sentence)" 
						  ng-mouseout="unhighlight()"
                          
                          ng-class="{'sentence-selected': sentence.id == selectedSentence.id}">						
						<!--[ {{sentence.id}} / {{sentence.previous_version}} ]--> {{sentence.text}}
					</span>
					
				</p>
			</article>
		</div>

	</div>
	
</div>