<!DOCTYPE html>
<html>
	<head>	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-animate.js"></script>
		<script src="/static/blog/bower_components/angular-route/angular-route.js"></script>

		<link href='http://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Average' rel='stylesheet' type='text/css'>

		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />

<!-- 		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" />
	    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.4.0/ui-bootstrap-tpls.min.js"></script>
	 -->

		<link href="{{ STATIC_URL }}blog/dist/css/post.css" rel="stylesheet" /> 

	    <script src="{{ STATIC_URL }}blog/dist/js/app.js"></script>

<!-- 	    <script src="{{ STATIC_URL }}blog/dist/js/carousel.js"></script> -->
		<script>
        	window.server = {
         	   auth: {
	            isSignedIn: {% if request.user.is_authenticated %}true{% else %}	false{% endif %},
            	user: "{{ request.user }}",
            	links: { 
                	    signIn: "{% url 'blog.views.register.sign_out' %}",
	                    signOut: "{% url 'blog.views.register.sign_in' %}"
                	}
            	}
        	};
    	</script>

	</head>
	<body>
	{% verbatim %}
		<div class="container" ng-app="app">
		
			<nav class="navbar navbar-default navbar-static-top" role="navigation">
				<div class="navbar-brand">Eric Mok</div>
			</nav>
			
			<div ng-controller="AppController">
				<div class="col-md-12">
					sup
				</div>

				<div class="col-md-7 col-xs-6 sidebar0">
					<section class="well well-sm">
						{{model.post.parent_content_type}}<br/>
						{{model.post.parent_id}}<br/>
						<test-element></test-element>
						<generic-representation type="blog" pk="1"></generic-representation>
						<post-parent model='model.post'></post-parent>
					</section>
					<div main-post post="model.post">
						<h2 class="post-title">{{model.post.title}}</h2>
						<p ng-repeat="p in model.post.content.paragraphs" class="post-paragraph">
							<span sentence="s" sidebar="0" class="sentence" data-depth="0" ng-repeat="s in p.sentences"></span>
						</p>
					</div> 
				</div>
				<div class="col-md-5 col-xs-6">
					<comments-panel sidebar="1" comments="model.sidePanel"></comments-panel>
				</div>
			</div>
		</div>
	{% endverbatim %}
	</body>
</html>