<!DOCTYPE html>
<html>
	<head>	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-animate.js"></script>

		<link href='http://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Average' rel='stylesheet' type='text/css'>

		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />

<!-- 		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" />
	    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.4.0/ui-bootstrap-tpls.min.js"></script>
	 -->

		<link href="{{ STATIC_URL }}blog/dist/css/index.css" rel="stylesheet" /> 
	    
	    <script src="{{ STATIC_URL }}blog/dist/js/common/common.js"></script>

		<script>
        	window.server = {
         	   auth: {
	            isSignedIn: {% if request.user.is_authenticated %}true{% else %}	false{% endif %},
            	user: "{{ request.user }}",
            	links: { 
                	    signIn: "{% url 'blog.views.register.sign_out' %}",
	                    signOut: "{% url 'blog.views.register.sign_in' %}"
                	}
            	}
        	};
    	</script>

	</head>
	<body>
	{% verbatim %}
		<div class="container">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-brand">eri5 prototype</div>
				<form class="navbar-form navbar-left">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Login" />
					</div>
					<button type="submit" class="btn btn-primary">Login</button>
				</form>
			</nav>
			<div class="jumbotron">
				<div class="col-lg-7">
					<hgroup>
						<h1>Long-Form Posts</h1>
						<h2>Don't have to be just a wall of text!</h2>
					</hgroup>
					<p>
						A site for rigorous internet commentary:
					</p> 
					<button class="btn btn-primary">Go to Eric's blog</button>
				</div>
				<div class="col-lg-5">
					<img src="/static/blog/assets/jumbotron1.png" class="img-responsive" style="margin-top: 1.3em" />
				</div>
				<div style="clear: both"></div>
			</div>

			<div class="row">
				<div class="col-md-4 tableture">
					<div class="inner">
						<hgroup>
							<h3>
								Be Rigorous
							</h3>
							<h5>
								Mark logical fallacies on sentences
							</h5>
						</hgroup>
						<img src="/static/blog/assets/logical_fallacy1.svg" class="img-responsive col-md-12 col-sm-6" />
						<p class="col-md-12 col-sm-6 col-xs-12">
							<b>Not Implemented</b><br/>
							Choose from a list of <a href="http://en.wikipedia.org/wiki/List_of_fallacies">fallacies</a> and tag it onto groups of sentences.
							Sentences are grouped into arguments that are filed into a database for entailment analysis. 
							When users make a new post, they can refer to previous arguments made by other users.
						</p>
						<div style="clear: both;"></div>
					</div>
				</div>
				<div class="col-md-4 tableture">
					<div class="inner">
						<hgroup>
							<h3>
								Attack No Strawmen
							</h3>
							<h5>
								Comment on individual sentences of a post
							</h5>
						</hgroup>
						<img src="/static/blog/assets/piecewise_commenting1.svg" class="img-responsive col-md-12 col-sm-6" />
						<p class="col-md-12 col-sm-6 col-xs-12">
							<b>Under Development</b><br/>
							A wall of text can have so many pieces, it can be hard to analyze rigorously. 
							Users can comment, score, and tag individual sentences instead of the entire post.
							As users create new long-form posts, they can see previously tagged sentences for reference.
						</p>
						<div style="clear: both;"></div>
					</div>
				</div>
				<div class="col-md-4 tableture">
					<div class="inner">
						<hgroup>
							<h3>
								Re-Revise Mistakes
							</h3>
							<h5>
								Track replies to your post even if you edit
							</h5>
						</hgroup>
						<img src="/static/blog/assets/document_changes1.svg" class="img-responsive col-md-12 col-sm-6" />
						<p class="col-md-12 col-sm-6 col-xs-12">
							No need for "EDIT" statements. 
							User replies are made on a per-sentence basis.
							As you edit your post, these replies will transfer over so you can still keep those old replies.
						</p>
						<div style="clear: both;"></div>
					</div>
				</div>
				<div style="clear: both;"></div>
			</div>

			<div class="jumbotron">
				<h1>Why?</h1>
				<h4>Because 140 characters are not enough</h4>
				<h3>Because the internet makes <strong><a href="http://en.wikipedia.org/wiki/Direct_democracy">direct democracy</a></strong> plausible</h3>

				<p style="margin-top: 1.3em">
					The internet lowers the barrier of entry for people who have an opinion to have a public voice. 
					Unfortunately, producing rigorous discussion on the internet has proven to be notoriously hard. 
					A structured environment can enable collaborative criticism, and help people to form high-quality opinions.
				</p>
				<p>
					This website is a toy to show how long form commenting might be possible. 
				</p>
			</div>

			
			<div class="col-md-12" style="height: 4em">
			</div>
		</div>
	{% endverbatim %}
	</body>
</html>