<!DOCTYPE html>
<html>
	<head>
		<title>LongMode</title>		

		<link href='http://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Average' rel='stylesheet' type='text/css'>

		<link href="{{STATIC_URL}}blog/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <script src="//use.edgefonts.net/pt-serif:n4,i4,n7,i7:all.js"></script> 
        
<!-- 		<link href="{{STATIC_URL}}blog/dist/css/index.css" rel="stylesheet" />
		<link href="{{STATIC_URL}}blog/dist/css/blog.css" rel="stylesheet" />
		<link href="{{STATIC_URL}}blog/dist/css/post.css" rel="stylesheet" />
		<link href="{{STATIC_URL}}blog/dist/css/latest.css" rel="stylesheet" />
		<link href="{{STATIC_URL}}blog/dist/css/forms.css" rel="stylesheet" />
 -->

 		<link href="{{STATIC_URL}}blog/dist/css/main.css" rel="stylesheet" />
    
		<script src="{{STATIC_URL}}blog/bower_components/underscore/underscore-min.js"></script>

		<script src="{{STATIC_URL}}blog/bower_components/jquery/jquery.min.js"></script>
		<script src="{{STATIC_URL}}blog/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		
        <script src="{{STATIC_URL}}blog/bower_components/crypto-js/rollups/md5.js"></script>
        
		<script src="{{STATIC_URL}}blog/bower_components/angular/angular.js"></script>
		<script src="{{STATIC_URL}}blog/bower_components/angular-animate/angular-animate.js"></script>
		<script src="{{STATIC_URL}}blog/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="{{STATIC_URL}}blog/bower_components/momentjs/moment.js"></script>

		<script src="{{STATIC_URL}}blog/dist/app/main.js"></script>
		<script src="{{STATIC_URL}}blog/dist/app/latest/latest.js"></script>
		<script src="{{STATIC_URL}}blog/dist/app/createblog/createblog.js"></script>
		<script src="{{STATIC_URL}}blog/dist/app/blog/blog.js"></script>
		<script src="{{STATIC_URL}}blog/dist/app/editblog/editblog.js"></script>
		<script src="{{STATIC_URL}}blog/dist/app/post/post.js"></script>
		<script src="{{STATIC_URL}}blog/dist/app/createpost/createpost.js"></script>
		<script src="{{STATIC_URL}}blog/dist/app/revisepost/revisepost.js"></script>
        <script src="{{STATIC_URL}}blog/dist/app/revisions/revisions.js"></script>
        <script src="{{STATIC_URL}}blog/dist/app/error404/error404.js"></script>
	</head>
	<body ng-app="main">
	{% verbatim %}
        <nav class="navbar" ng-controller="NavCtrl">
            <div class="inner-navbar">
                <div class="logo">
                    {% endverbatim %}
                    <img src="{{STATIC_URL}}blog/assets/icon1.svg" />
                    {% verbatim %}
                </div>

                <ul class="breadcrumb">
                    <li><a ui-sref="latest">Latest</a></li>
                    <li ng-repeat='blog in blogs.results'><a ui-sref="blog({blogId: blog.title})">{{blog.title}}</a></li>
                </ul>

                <div style="clear: both;"></div>
            </div>
        </nav>
        
		<div class="container">
			
			<div ui-view autoscroll="false">
			</div>
			
			<div class="col-md-12" style="height: 4em"></div>
		</div>
	{% endverbatim %}
	</body>
</html>