
<div>
	<!-- <post-parent model='{{comment.results[0]}}'></post-parent> -->
	<div class='comment-sidebar' ng-repeat='c in comments.results'>
		<div class="comment panel panel-primary">
		    <div class='panel-heading'><h4 class='panel-title comment-title' ng-bind='c.title'></h4></div>
		    <div class='panel-body'>
				<p class='comment-paragraph' ng-repeat='p in c.content.paragraphs'>
					<span sentence='s' class='comment-sentence' sidebar='{{getSidebarPosition()}}' ng-repeat='s in p.sentences'>
					</span>
				</p>
		    </div>
		    <div>
		    	You are user {{user}}
		    </div>
		    <form style="padding: 1em; margin: 1em;">
		    	<div>
		    		<input type="text" placeholder="title"/>
		    	</div>
		    	<div>
		    		<textarea placeholder="Enter your comment..."></textarea>
		    	</div>
		    	<input type="submit" value="Post" />
		    </form>
		</div>
	</div>
</div>