<!DOCTYPE html>
<html>
	<head>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
		<style>

		</style>
	
		<script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.js"></script>
		
		<link href="{{ STATIC_URL }}blog/libs/jasmine.css" rel="stylesheet" />
		

		<script src="{{ STATIC_URL }}blog/libs/jasmine.js"></script>
		<script src="{{ STATIC_URL }}blog/libs/jasmine-html.js"></script>

		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" />
	    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.4.0/ui-bootstrap-tpls.min.js"></script>
	
		<link href="{{ STATIC_URL }}blog/css/angularapp.css" rel="stylesheet" />

	    <script src="{{ STATIC_URL }}blog/js/src/angularapp.js"></script>
	    <script src="{{ STATIC_URL }}blog/js/src/animate.js"></script>
	    <script src="{{ STATIC_URL }}blog/js/src/carousel.js"></script>
		<script>
        	window.server = {
         	   auth: {
	            isSignedIn: {% if request.user.is_authenticated %}true{% else %}	false{% endif %},
            	user: "{{ request.user }}",
            	links: { 
                	    signIn: "{% url 'blog.views.register.sign_out' %}",
	                    signOut: "{% url 'blog.views.register.sign_in' %}"
                	}
            	}
        	};
    	</script>

	</head>
	<body>
	{% verbatim %}
		<div class="container" ng-app="app">
			<div class="col-md-12" ng-controller="postController">
				<carousel  interval="1000s">
					<slide>
						SLIDE
					</slide>
					<slide>
						SLIDE
					</slide>
					<slide>
						SLIDE
					</slide>
				</carousel>
				<div class="col-md-6">
					
					<div>
						<h2 style="font-family: Times New Roman;">{{post.title}}</h2>
						<p ng-repeat="p in post.content.paragraphs" style="font: 16px Times New Roman; line-height: 1.48;">
							<span sentence class="sentence" ng-repeat="s in p.sentences">
								{{s.text}}
							</span>
						</p>
					</div> 
				</div>
				<div class="col-md-6">
					<div ng-controller="sidebar">
						<div ng-repeat='c in comments'>
							COMMENT
						</div>
					</div>
					<div post-slider style="width: 202px; border: solid 1px #DDD; overflow-x: hidden;">
						<div post-slide ng-animate="sliding">
							<div>
								<h2 style="font-family: Times New Roman;">{{post.title}}</h2>
								<p ng-repeat="p in post.content.paragraphs" style="font: 16px Times New Roman; line-height: 1.48;">
									<span my-sentence class="sentence" ng-repeat="s in p.sentences">
										{{s.text}}
									</span>
								</p>
							</div> 
						</div>
						<div post-slide>
							SLIDE2
						</div>
						<div post-slide>
							SLIDE3
						</div>
						<div post-slide>
							SLIDE{{getIndex()}}
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endverbatim %}
	</body>
</html>