<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
    <script>
        window.server = {
            auth: {
            isSignedIn: {% if request.user.is_authenticated %}true{% else %}false{% endif %},
            user: "{{ request.user }}",
            links: { 
                    signIn: "{% url 'blog.views.register.sign_out' %}",
                    signOut: "{% url 'blog.views.register.sign_in' %}"
                }
            }
        };
    </script>
    
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />

    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700' rel='stylesheet' type='text/css'>


    <link href='http://fonts.googleapis.com/css?family=Average+Sans' rel='stylesheet' type='text/css'>

    <link href="{{ STATIC_URL }}blog/css/ember-index.css" type="text/css" rel="stylesheet" />

    <script src="{{ STATIC_URL }}blog/libs/d3.v3.js"></script>
</head>
<body>
    {% verbatim %}

    <script type="text/x-handlebars" data-template-name="index">
        <div class="container">
            <div class="row">
                Signed in as {{server.auth.user}}
            </div>
            <div class="row" style="position: relative; min-height: 1000px; overflow: hidden;">
                <!-- TODO: Add a front page template for root -->
                {{outlet}}
            </div>
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="posts">
        <!-- Show 2 lists side by side -->
        POSTS
        <div style="clear: both"></div>
            <div style="position: relative">
                {{view App.PostDetailView model=model}}
            </div>
            <div style="position: relative; left: 50%; border: solid 1px #DDD"> 
                {{#each list in postLists}}
                    
                    {{view App.PostListView model=list.items left=list.left counter=list.counter side=list.counter}}
                {{/each}}
            </div>
        <div style="clear: both"></div>
    </script>

    <script type="text/x-handlebars" data-template-name="post-detail-view">
        <!-- Show a single post -->
        Number Lists: {{numberLists}}<br/>
        {{view App.PostView model=view.model side=view.side}}
    </script>

    <script type="text/x-handlebars" data-template-name="post-list-view">
        <!-- Loop through posts -->
        <div {{bindAttr style="view.leftStyle" class="view.childClassName"}}>
            POST LIST VIEW: {{view.model}} / {{view.counter}} / {{view.left}} 
            <br/>
            
            {{#each post in view.model}}
                EACH POST <br/> 
                {{view App.PostView model=post side=view.side}}
            {{/each}}
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="post-view">
        <div>
            <h4 class="post-title">{{view.model.title}}</h4>

            <div class="post-body">
                {{#each sentence in view.model.sentences}}
                    {{sentence-segment model=sentence side=view.side viewsentence="viewsentence"}}
                {{/each}}
            </div>
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="comment-view">
        <!-- A comment should be styled differently than a main post -->
    </script>

    <script type="text/x-handlebars" data-template-name="components/sentence-segment">
        {{ model.text }}
    </script>

    <script type="text/x-handlebars" data-template-name="components/post-d3">
        
    </script>

    {% endverbatim %}
    <script src="{{ STATIC_URL }}blog/libs/jquery-1.9.1.js"></script>
    <script src="{{ STATIC_URL }}blog/libs/handlebars-1.0.0.js"></script>
    <script src="{{ STATIC_URL }}blog/libs/ember-1.2.0.js"></script>
    <script src="{{ STATIC_URL }}blog/libs/ember-data.js"></script>

    <script src="{{ STATIC_URL }}blog/libs/moment.js"></script>
    
    <script src="{{ STATIC_URL }}blog/js/src/ember-index2.js"></script>
</body>
</html>