<!DOCTYPE html>
<html>
	<head>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />

    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href="{{ STATIC_URL }}blog/css/blog.css" type="text/css" rel="stylesheet" />
    
	</head>
  <script>
    window.server = {
      auth: {
        isSignedIn: {% if request.user.is_authenticated %}true{% else %}false{% endif %},
        user: "{{ request.user }}",
        links: {
          signIn: "{% url 'blog.views.register.sign_out' %}",
          signOut: "{% url 'blog.views.register.sign_in' %}"
        }
      }
    };
  </script>
	<body>
	
  {% verbatim %}

  <script type="text/x-handlebars" data-template-name="index">
    <div class="container">
    INDEX
      {{ outlet }}
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name="blogs">
  	<div class="container">
      <div>
        {{ ../server.auth.user }}
        {{#if ../server.auth.isSignedIn }}
        Signed in
        {{/if}}

        {{#unless ../server.auth.isSignedIn }}
        Signed out
        {{/unless}}
      </div>
        {{input type="text" placeholder="New User?" value=blogName action="createBlog"}}

        <div style="border: solid 1px #DDD;">
          {{#each blog in blogs}}
            <div>
              <h3> {{blog.title}} </h3> <span>started by {{blog.creator}}</span>
              <div>{{#link-to 'posts' blog.id}} {{blog.title}} {{/link-to}}</div>
            </div>
          {{/each}}

          <div>
            {{ outlet }}
          </div>
        </div>

	 </div>
  </script>

  <script type="text/x-handlebars" data-template-name="simple-post-view">
    POST VIEW
  </script>

  <script type="text/x-handlebars" data-template-name="posts">
    {{#each post in posts}}
      <div style="border-radius: 3px; border: solid 1px #DDD;">
        <h4>{{#link-to 'post' post.id}} {{post.title}} {{/link-to}}</h4>
        <h5>{{post.title}}</h5> 
        <small>{{post.id}}</small>
        <div>{{post.brief}}</div>
      </div>
    {{/each}}
    <h3>{{ title }}</h3>
    <div>
      {{#if next}}
        <button {{action "next"}}>Next</button>
      {{/if}}
      {{#if prev}}
        <button {{action "prev"}}>Prev</button>
      {{/if}}
    </div>
  </script>
  
  <script type="text/x-handlebars" data-template-name="post">
    <div class="container">
      <div class="col-xs-7">
        Post:
        {{ post.id }}
        <h4 style="font-family: Times New Roman; font-size: 26px">{{post.title}}</h4>
        <div>
          Comment by {{post.author}}
        </div>
        <div style="font-family: Josefin Sans">
          {{#each sentence in post.sentences}}
            <span onmouseover="this.style.backgroundColor='#DDD'"
                  onmouseout="this.style.backgroundColor='#FFF'">
              {{sentence.paragraph}} {{sentence.text}}
            </span>
          {{/each}}
        </div>
      </div>      
    </div>
  </script>

  {% endverbatim %}

		<script src="{{ STATIC_URL }}blog/libs/jquery-1.9.1.js"></script>
		<script src="{{ STATIC_URL }}blog/libs/handlebars-1.0.0.js"></script>
		<script src="{{ STATIC_URL }}blog/libs/ember-1.2.0.js"></script>
    <script src="{{ STATIC_URL }}blog/libs/ember-data.js"></script>

		<script src="{{ STATIC_URL }}blog/libs/moment.js"></script>
		
		<script src="{{ STATIC_URL }}blog/js/src/ember-index.js"></script>
	</body>
</html>