<!DOCTYPE html>
<html>
	<head>
    
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
    
    <link href="{{ STATIC_URL }}blog/css/register.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.js"></script>
    <script src="{{ STATIC_URL }}blog/libs/jquery-1.9.1.js"></script>
    <script src="{{ STATIC_URL }}blog/libs/handlebars-1.0.0.js"></script>
    <script src="{{ STATIC_URL }}blog/libs/moment.js"></script>
    <script src="{{ STATIC_URL }}blog/js/src/register.js"></script>
    
    <style>
      .ng-invalid-unique input
      {
        border: solid 1px #E0162B;
        outline: none;
      }
      .ng-valid-unique input
      {
        border: solid 1px #2cc36b;
        outline: none;
      }
    </style>
	</head>
	<body>
    

    <script type="text/x-handlebars">
    	<div class="container">
     		{{outlet}}
    	</div>
    </script>

    
    <div class="container" ng-app="app">
      <div class="col-xs-12">

        <div class="form-container">
          
          <form class="register-form" action="{{ request.path }}" method="POST">

            {% csrf_token %}

            <h2>Register</h2>

              <div class="error">
                {% if error %} Cannot register that username. Please choose another. {% endif %} {{ path }}
              </div>

              <section ng-controller="UsernameController">

                <label class="form-label">Username:</label> 

                {% verbatim %}  
                
                <username-field class="form-input" ng-model="user.username" fieldname="username" errormessagestyle="test"></username-field>
      
                {% endverbatim %}
                    
                
                {{ register_form.errors.username }}

                <div style="clear: both"></div>
              </section>
              <section>
                <div class="password-field">
                  <label class="form-label password-field">Create a Password:</label> 
                  <input class="form-input" name="password" type="password" placeholder="Password" />
                  {{ register_form.errors.password }}
                  <div style="clear: both"></div>
                </div>
                <div class="password-reconfirm">
                  <label class="form-label">Type your password again:</label> 
                  <input class="form-input" name="password_confirm" type="password" placeholder="Re enter password" />

                  <div style="clear: both"></div>
                </div>
              </section>
              <section>
                <input type="submit" onsubmit="function(ev){ev.preventDefault()}" value="Sign up!" />
                <div style="clear: both"></div>
              </section>
            

          </form>
        </div> <!-- end form container -->

      </div> <!-- end 12 -->
    </div>




	</body>
</html>