<!DOCTYPE html>
<html>
	<head>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href="{{ STATIC_URL }}blog/css/blog.css" type="text/css" rel="stylesheet" />

	</head>
	<body>
	
  {% verbatim %}

  <script type="text/x-handlebars" data-template-name="index">
    <div class="container">
    INDEX
      {{ outlet }}
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name="blogs">
  	<div class="container">
        {% endverbatim %}

          {% if request.user.is_authenticated %}
            <a href="{% url 'blog.views.register.sign_out' %}">Sign out</a>
          {% else %}
            <a href="{% url 'blog.views.register.sign_in' %}">Sign in</a>
          {% endif %}
        {% verbatim %}
        

        {{input type="text" placeholder="New User?" value=blogName action="createBlog"}}

        <div style="border: solid 1px #DDD;">
          {{#each blog in blogs}}
            <div>
              <h3> {{blog.title}} </h3> <span>started by {{blog.creator}}</span>
              <div>id = {{ blog.id }}</div>
              <div>{{#link-to 'blog' blog}} {{blog.title}} {{/link-to}}</div>
            </div>
          {{/each}}

          <div>
            {{ outlet }}
          </div>
        </div>

	 </div>
  </script>


  <script type="text/x-handlebars" data-template-name="blog">
    <h3>{{ title }}</h3>
    <div>
      Commentaries by {{ creator }}

      <button {{action "test"}}>Button</button>
    </div>
  </script>
  

  <script type="text/x-handlebars" data-template-name="posts">
    POSTS
  </script>

  {% endverbatim %}

		<script src="{{ STATIC_URL }}blog/libs/jquery-1.9.1.js"></script>
		<script src="{{ STATIC_URL }}blog/libs/handlebars-1.0.0.js"></script>
		<script src="{{ STATIC_URL }}blog/libs/ember-1.0.0.js"></script>
    <script src="{{ STATIC_URL }}blog/libs/ember-data.js"></script>

		<script src="{{ STATIC_URL }}blog/libs/moment.js"></script>
		
		<script src="{{ STATIC_URL }}blog/js/src/blog.js"></script>
	</body>
</html>